.title {
  font-family: "Dancing Script";
  font-size: 60px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
  margin-bottom: 10px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 37px;
  font-family: "Playwrite CA", cursive;
}
.nav-link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease;
  &:hover {
    color: lime;
  }
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.hero-text {
  font-size: 20px;
  font-family: "Big Shoulders Inline";
}
.hero {
  padding-top: 300px;
  padding-bottom: 300px;
  background-position: center;
  background-image: url(../img/bg-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  background-color: lime;
  color: cornflowerblue;
  padding: 20px 20px;
  border: 2px solid gray;
  border-radius: 25px;
  transition-property: background-color, color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  cursor: pointer;
  position: fixed;
  top: 90%;
  box-shadow: 0px 2px 1px 1px black;
  &:hover {
    background-color: cornflowerblue;
    color: lime;
  }
}
.text {
  font-size: 48px;
  font-weight: 900;
  color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
}
.school {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: lightgray;
}
.school__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.school__title {
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: 900;
  color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
}
.school__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 20px;
}
.card {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 1px 1px 0px black;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 3px 3px 0px;
  }
}
.card__text {
  padding-top: 3px;
  padding-left: 8px;
  background-color: rgba(144, 238, 144, 0.395);
  font-size: 24px;
  font-weight: 900;
  color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
}
.people {
  padding-top: 60px;
  padding-bottom: 60px;
}
.people__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.people__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.people__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.people__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.home {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(195, 208, 209);
}

.home__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 20px;
}
.home__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__box {
  max-width: 300px;
  max-height: 400px;
  box-shadow: 0px 2px 2px 2px black;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 3px 3px 3px lime;
  }
}
.home__img {
  max-width: 300px;
  max-height: 400px;
}
.far {
  padding-top: 40px;
  padding-bottom: 40px;
}
.far__photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.far__img {
  border: 10px double lime;
}
